name: dev-image-publish.yml

on:
  push:
    branches:
      - dev

permissions:
  contents: read
  packages: write

jobs:
  publish_to_ghcr:
    uses: .github/workflows/publish_dev_to_ghcr.yml
    with:
      dockerfile_name: 'Dockerfile.dev'
    secrets: inherit

  start_vm:
    needs: publish_to_ghcr
    uses: .github/workflows/azure_dev_start_vm.yml
    secrets: inherit

  deploy_all_images:
    needs: start_vm
    uses: .github/workflows/deploy-all-services-dev.yml
    secrets: inherit

  maybe_stop_vm:
    needs:
      - start_vm
      - deploy_all_images
    if: ${{ needs.start-vm.outputs.pre_status == 'VM deallocated' }}
    uses: .github/workflows/azure_dev_stop_vm.yml
    secrets: inherit