name: infrastructure_deployment.yml
on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:

  start-azure:
    uses: ./.github/workflows/azure_start_vm.yml
    secrets: inherit

  deploy-infra-image-to-azure:
    uses: ./.github/workflows/azure_deploy_img.yml
    secrets: inherit

  publish-image-to-ghcr:
    needs:
      - start-azure
      - deploy-infra-image-to-azure
    uses: ./.github/workflows/publish_docker_img_to_ghcr.yml
    secrets: inherit

